  padding: 0;
  margin: 0;
 font-family: 'Prompt', sans-serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*====================*/


.hero-section{
    background: #F6F8FB;
    overflow: hidden;
    display: block;
    padding-bottom: 70px;
}
.header-area{

}
.container{
width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 25px;
}
.logo-area{
    float: left;
    display: inline-block;
    width: 20%;
}

.logo-area a{

}
.logo-area a img{

}
/*======nav-menu=======*/
.nav-menu{
       float: left;
    display: inline-block;
    overflow: hidden;
    width: 60%;
    padding-top: 10px
}
.nav-menu ul{
    text-align: center;
}
.nav-menu ul li{
display: inline;
    padding-left: 40px;
}
.nav-menu ul li a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #02073E;
}
/*=====reg-button=====*/

.reg-section{
float: left;
width: 20%;
}
.reg-batton{
float: right;
    border: 2px solid;
    padding: 10px 26px;
    color: #8D448B;
}
.reg-batton a{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.16px;
    color: #8D448B;
}

/*=====banner-area=====*/
.banner-area{
    padding-top: 144px;
}
.container{

}
.custom_area{
float: left;
width: 50%;
}
.custom_area h4{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 80px;
letter-spacing: -1.5px;
color: #02073E;
 padding-bottom: 28px;
}
.custom_area p{
      font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 42px;
    color: #02073E;
    padding-bottom: 45px;

}
.custom_btn {
    margin-bottom: 60px;
    overflow: hidden;
}
.custom_btn input[type=text]{
  /*=====banner-area
  opacity: 0.4;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);
  border-radius: 5px;
  float: left;
  overflow: hidden;
  padding-left: 15px;
  margin-right: 15px;
  height: 48px;
  left: 284px;
  top: 605px;=====*/

      font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #02073E;
    opacity: 0.4;
    float: left;
    padding-right: 80px;
} 
.custom_btn input[type=submit]{
    padding: 13px 35px;
    color: #FFFFFF;
    box-sizing: border-box;
    background: #8D448B;
    border: 2px solid #8D448B;
    border-radius: 5px;
    overflow: hidden  ;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
.hero_section{
  background: #F6F8FB;
  padding-top: 90px;
  padding-bottom: 95px;
  overflow: hidden;
}
.sponsor_logo ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sponsor_logo ul li{
  color: #566272;
  opacity: 0.6;
  float: left;
  font-size: 16px;
  line-height: 42px;
  overflow: hidden;
}
.sponsor_logo ul li a img {
    float: left;
    padding-left: 10px;
    overflow: hidden;
    width: 91px;
}
.banner_right_section{
float: right;
width: 50%;
}

.banner_right_section img{

}

/*=====quality-features=====*/

.quality-features{
display: block;
    overflow: hidden;
}
.container{

}

.quality-heading{
  padding-top: 60px;
}
.quality-heading h4{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #8D448B;
}
.quality-heading h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #0F2137;
}
.quality-single-contant{
padding-top: 78px;
}
.quality-single{
    float: left;
    width: 20%;
    padding-left: 60px;
    text-align: center;
}

.quality-single img{

}
.quality-single h2{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0F2137;
    padding-top: 21px;
}
.quality-single p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #343D48;
    padding-top: 20px;
}

/*=====quality-features end=====*/
/*=====agencies-section start=====*/
.agencies-section{
display: block;
    overflow: hidden;
    padding-top: 130px;
}
.container{

}
.agencies-left-part{
    float: left;
    width: 50%;
}
.agencies-left-part img{

}

.agencies-right-part{
float: left;
    width: 40%;
    padding-left: 100px;
    padding-top: 70px;
}
.agencies-right-heading h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #0F2137;
}
.agencies-right-heading p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #02073E;
    opacity: 0.6;
    padding-top: 22px;
}
.check-point{

}
.check-point-single {
 padding-top: 22px;   
}
.check-point-single img{
     float: left;
    padding-right: 10px;
}
.check-point-single p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #02073E;
}
.learn-button{
padding-top: 10px;
}

.learn-button a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 42px;
    color: #8D448B;
    padding-left: 30px;
}

/*=====leading-companies=====*/
.leading-companies{
    overflow: hidden;
    padding-top: 160px;
}
.container{

}
.leading-companies-heading{
    max-width: 622px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.leading-companies-heading h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #0F2137;
}
.leading-companies-heading p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    text-align: center;
    color: #343D48;
    padding-top: 24px;
}
.leading-button{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.leading-button a{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 42px;
    color: #8D448B;
    padding-left: 30px;
}
.video_area{
  width: 1110px;
  height: 625px;
  margin: auto;
  margin-top: 40px;
}
.video_area video{
  width: 100%;
  height: 100%;
}


/*=====customers-contant=====*/

.customers-contant{
      padding-top: 160px;
    overflow: hidden;
    display: block;
    padding-bottom: 147px;
}
.container{

}
.customers-heading{
max-width: 850px;
    width: 100%;
    margin: auto;
}
.customers-heading h4{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #8D448B;
}
.customers-heading h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #0F2137;
}
.customers-heading p{
font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    color: #0F2137;
    padding-top: 58px;
    padding-bottom: 115px;

}
.customers-single-contant{
    max-width: 850px;
    width: 100%;
    margin: auto;
}

.customers-single{
float: left;
    width: 33%;
}
.customers-person{
    float: left;
    padding-right: 30px;
}
.customers-person img{
    padding-top: 20px;
}
.customers-person-details{
float: left;
}
.customers-person-details h2{
  font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #0F2137;
}
.customers-person-details p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #343D48;
    opacity: 0.8;
}
/*=====customers-contant-end=====*/

/*....start Customer support....*/

.customer_support{
background: #FFF;
padding-top: 100px;
padding-bottom: 110px;
}
.container{

}
.customer_support_content{
  width: 100%;
}
.support_content{
  width: 40%;
  margin-right: 93px;
  float: left;
  overflow: hidden;
}
.support_content h2{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 43px;
line-height: 60px;
letter-spacing: -1.5px;
color: #0F2137;
margin-bottom: 24px;
}
.support_image{
}
.support_image img{
}

.support_content p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 35px;
color: #343D48;
margin-bottom: 24px;
}
.learn_content p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 34px;
color: #02073E;
opacity: 0.6;
}
.learn_content a{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 42px;
color: #8D448B;
}
/*....End Customer support....*/
/*Start Tutorials Features*/
.tutoials_features{
background: #F6F8FB;
padding-bottom: 75px;
}
.container{

}
.tutorials_content h4{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;
text-align: center;
text-transform: capitalize; 
color: #8D448B;
margin-top: 57px;
}
.tutorials_content h2{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 55px;
text-align: center;
letter-spacing: -1.5px;
color: #0F2137;
margin-bottom: 68px;
}
/*Start Tutorials Features*/

.box_feature_area{
  width: 100%;
  float: left;
  overflow: hidden;

}
.single_box_feature{
float: left;
    overflow: hidden;
    margin: 1%;
    width: 31%;
    background: #FFFFFF;
    border: 1px solid #F3F4F5;
    border-radius: 10px;
}
.single_box_feature img{

}
.single_box_feature h3{
  margin: 25px;

}
.single_box_feature p{
  margin-bottom: 35px;
  margin-left: 25px;

}
.single_box_feature p img{
margin-right: 8px;
}
/*End Tutorials Features*/










































