  padding: 0;
  margin: 0;
 font-family: 'Prompt', sans-serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*====================*/


.hero-section{
    background: #F6F8FB;
    overflow: hidden;
    display: block;
    padding-bottom: 70px;
}
.header-area{

}
.container{
width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 25px;
}
.logo-area{
    float: left;
    display: inline-block;
    width: 20%;
}

.logo-area a{

}
.logo-area a img{

}
/*======nav-menu=======*/
.nav-menu{
       float: left;
    display: inline-block;
    overflow: hidden;
    width: 60%;
    padding-top: 10px
}
.nav-menu ul{
    text-align: center;
}
.nav-menu ul li{
display: inline;
    padding-left: 40px;
}
.nav-menu ul li a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #02073E;
}
/*=====reg-button=====*/

.reg-section{
float: left;
width: 20%;
}
.reg-batton{
float: right;
    border: 2px solid;
    padding: 10px 26px;
    color: #8D448B;
}
.reg-batton a{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.16px;
    color: #8D448B;
}

/*=====banner-area=====*/
.banner-area{
    padding-top: 144px;
}
.container{

}
.banner_left_section{
float: left;
width: 50%;
}
.text-area{
width: 550px;
}
.text-area h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -1.5px;
    color: #02073E;
}

.text-area p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #02073E;
    padding-top: 28px;
}
.sub_form{
 padding-top: 28px;
    padding-bottom: 60px;
    overflow: hidden;
}
.Subs-new-batton{
    float: left;
    color: #fff;
    background: #ffffff;
    padding: 10px 120px;
    margin-right: 15px;
}

.Subs-new-batton a{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #02073E;
    opacity: 0.4;
}
.Subscribe-batton{
float: left;
    color: #fff;
    background: #8D448B;
    padding: 10px 35px;
    border-radius: 5px;
}

.Subscribe-batton a{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 40px;

text-align: center;

color: #FFFFFF;

}

.sponser_section{

}
.sponser_section h4{
      font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    color: #566272;
    opacity: 0.6;
    float: left;
}

.sponser_img{
    float: left;
    padding: 10px 15px;
}

.sponser_img img{
    padding-left: 10px;
}

.banner_right_section{
float: right;
width: 50%;
}

.banner_right_section img{

}

/*=====quality-features=====*/

.quality-features{
display: block;
    overflow: hidden;
}
.container{

}

.quality-heading{
  padding-top: 60px;
}
.quality-heading h4{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #8D448B;
}
.quality-heading h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #0F2137;
}
.quality-single-contant{
padding-top: 78px;
}
.quality-single{
    float: left;
    width: 20%;
    padding-left: 60px;
    text-align: center;
}

.quality-single img{

}
.quality-single h2{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0F2137;
    padding-top: 21px;
}
.quality-single p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #343D48;
    padding-top: 20px;
}

/*=====quality-features end=====*/
/*=====agencies-section start=====*/
.agencies-section{
display: block;
    overflow: hidden;
    padding-top: 130px;
}
.container{

}
.agencies-left-part{
    float: left;
    width: 50%;
}
.agencies-left-part img{

}

.agencies-right-part{
float: left;
    width: 40%;
    padding-left: 100px;
    padding-top: 70px;
}
.agencies-right-heading h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #0F2137;
}
.agencies-right-heading p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    color: #02073E;
    opacity: 0.6;
    padding-top: 22px;
}
.check-point{


}
.check-point-single {
 padding-top: 22px;   
}
.check-point-single img{
     float: left;
    padding-right: 10px;
    padding-top: 13px;
}
.check-point-single p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #02073E;
}
.learn-button{
padding-top: 10px;
}

.learn-button a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 42px;
    color: #8D448B;
    padding-left: 30px;
}

/*=====agencies-section end=====*/




















